<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#12192C">
    <title>Check-it!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link type="text/css" href="/css/styles.css" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="../public/CHECK-IT!logo.png">
    
    
</head>
<body class="body-pd">
    
        
    </div>

    <div class="w-navbar">

        <nav class="topnav">

            
                <div class="logo">
                    <a href="/course/MyCourse"><img src="/CHECK-IT logo.png" alt="CHECK-IT"></a>
                </div>

                <div class="nav__listtop">

                    //<a href="#" class="nav__top">
                    //<ion-icon name="add-outline" onclick="CourseFunction()" class="dropbtnCourse"></ion-icon>
                    //</a>
                    //<div id="DropdownCourse" class="dropdownCourse-content">
                        <a href="#">Join Course</a>
                        <a href="#">Create Course</a>
                    //</div>
                    
                    <a href="/user/profile" class="nav__top">
                    <ion-icon name="person-circle" onclick="ProfileFunction()" class="" href="profile"></ion-icon>
                    </a>

                </div>

            
            
        </nav>
    </div>
    
    
    <div class="l-navbar" id="navbar">
        
        <nav class="nav">
            <div>


                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="#" class="nav__logo">Check-IT!</a>
                </div>
                <div class="nav__list">
                    //<a href="/home" class="nav__link">
                    //<ion-icon name="home-outline" class="nav__icon"></ion-icon>
                    //<span class="nav__name">Dashboard</span>
                    //</a>

                    //<a href="/Chat" class="nav__link">
                    //<ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                    //<span class="nav__name">Chat</span>
                    //</a>

                    <a href="/course/MyCourse" class="nav__link collapse">
                    <ion-icon name="school-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">My Course</span>
                    </a>

                    //<a href="/Notes" class="nav__link">
                    //<ion-icon name="pencil-outline" class="nav__icon"></ion-icon>
                    //<span class="nav__name">Notes</span>
                    //</a>

                    //<a href="/StudyPlan" class="nav__link">
                    //<ion-icon name="book-outline" class="nav__icon"></ion-icon>
                    //<span class="nav__name">Study Plan</span>
                    //</a>

                    <a href="/ToDoList" class="nav__link">
                    <ion-icon name="clipboard-outline" class="nav__icon" ></ion-icon>
                    <span class="nav__name">To-Do List</span>
                    </a>

                </div>
            </div>

            <a href="/user/logout" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Log Out</span>
                </a>
            
        </nav>

    </div>

    <div class="flex justify-center items-center" >
        <form class="w-80 rounded-md shadow-md py-4 px-6 bg-white mt-8" action="/course/create" method="post">
            <h1 class="font-bold text-3xl mb-2" >Create a course</h1>
            <div class="mb-2" >
                <label class="block" for="name">Name</label>
                <input class="rounded border border-gray-900 p-1 w-full" type="text" name="name" required>
            </div>
            <div class="mb-2" >
                <label class="block" for="email">Description</label>
                <textarea class="rounded border border-gray-900 p-1 w-full" name="description" cols="30" rows="3" required></textarea>
            </div>
            <div class="flex justify-end items-center" >
                <a class="text-blue-500 mr-5" href="/course/MyCourse">Cancel</a>
                <input class="px-4 py-2 bg-gray-900 rounded text-white cursor-pointer" type="submit" value="Create">
            </div>
        </form>
    </div>

    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
      
    <script src="/__/firebase/8.6.7/firebase-app.js"></script>
    <script src="/__/firebase/8.6.7/firebase-auth.js"></script>

    <script src="/__/firebase/init.js"></script>
    <script src="/ui.js"></script>
    
</body>
</html>